.Rproj.user
.Rhistory
.RData
.Ruserdata

*.log
*.txt
*.docx
*.Rproj
.aux .bit .blg .bbl .lof .log .lot .glo .glx .gxg .gxs .idx .ilg .ind .out .url .svn .toc
CustomerSegmentationProject_files/
Rproj.user/

